header {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.explanation {
    display: flex;
    justify-content: center;
}

/* Game output */
.game-output{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Computer choice */
.computer-choice {
    height: 80px;
    width: 80px;
    /* border: 2px solid red; */
}

/* Scoreboard */
.scoreboard{
    display: flex;
    gap: 16px;
    justify-content: center;
}

/* User choices */
.choice-button{
    padding: 0;
    height: 80px;
    width: 80px;
    padding: 5px;
    border: none;
    background-color: white;
    transform: scale(1.1);
    /* border: 2px solid red; */
    cursor: pointer;

}

.choices-container{
    display: flex;
    gap: 16px;
    justify-content: center;

}
 
.choice-icon{
    max-height: 100%;
    max-width: 100%;
    fill: #5E5E5E;
}
.water-icon:hover{

    fill: blue;
}

.fire-icon:hover{
    fill: red;
}

.grass-icon:hover{

    fill: green;
}


