header {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.explanation {
    display: flex;
    justify-content: center;
}
.choice-button{
    padding: 0;
    height: 70px;
    width: 70px;
    padding: 5px;
    border: none;
    background-color: white;
    transform: scale(1.1);
    /* border: 2px solid red; */
    cursor: pointer;

}

.choices-container{
    display: flex;
    gap: 16px;
    justify-content: center;

}
 
.water-icon:hover{
    max-height: 100%;
    max-width: 100%;
    fill: blue !important;
}

.fire-icon:hover{
    max-height: 100%;
    max-width: 100%;
    fill: red !important;
    /* border: 2px solid blue; */
}

.grass-icon:hover{
    max-height: 100%;
    max-width: 100%;
    fill: green;
    /* border: 2px solid blue; */
}


